tornado==4.3
tornadoes==2.4.2
elasticsearch==2.3.0
python-dateutil==2.5.3
Pillow==3.2.0
numpy==1.11.0
ImageHash==1.0
requests==2.10.0
scikit-learn==0.17
hyperopt==0.0.2
#required by hyperopt:
pymongo==3.2.2
base58==0.2.2
mediachain-client==0.1.2
asteval==0.9.7
